a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.line {
  width: 60px;
  height: 5px;
  background-color: #E8C300;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lorem {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.simple-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
}

.figure {
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
}

.page-1 {
  width: 100%;
  height: 800px;
  background-image: url(/assets/background/bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.page-1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 18px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.page-1__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 530px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-1__left-menu {
  width: 130px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-1__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 530px;
  height: 100px;
}

.page-1__right-menu {
  width: 130px;
  height: 100px;
}

.page-1__logo {
  height: 150px;
  width: 150px;
  background-image: url(/assets/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.page-1__content {
  width: 100%;
  color: #FFFFFF;
  margin: 0 auto;
  padding-top: 325px;
}

.page-1__time {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 60px;
}

.page-1__text {
  width: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
}

.page-1__text h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-align: center;
}

.page-1__text h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

.page-1__text-line {
  margin: 20px auto;
}

.page-1__text-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 440px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
}

.page-1__text-buttons button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #FFFFFF;
  width: 200px;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.page-1__text-buttons button:hover {
  background-color: #E8C300;
  border: none;
}

.page-1__media {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 80px;
  width: 60px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-1__media-icon {
  height: 60px;
  width: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.page-1__media .facebook {
  background-image: url(/assets/media/facebook.png);
}

.page-1__media .facebook:hover {
  background-image: url(/assets/media/facebook-active.png);
}

.page-1__media .twitter {
  background-image: url(/assets/media/twitter.png);
}

.page-1__media .twitter:hover {
  background-image: url(/assets/media/twitter-active.png);
}

.page-1__media .instagram {
  background-image: url(/assets/media/instagram.png);
}

.page-1__media .instagram:hover {
  background-image: url(/assets/media/instagram-active.png);
}

.page-1 .scroll {
  margin: 80px auto;
  height: 60px;
  width: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/img/scroll.png);
}

.page-2 {
  height: 680px;
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-2__text {
  width: 600px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.page-2__text h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

.page-2__image {
  width: 600px;
  height: 475px;
  position: relative;
}

.page-2__image-picture {
  width: 475px;
  height: 475px;
  background-image: url(/assets/img/page2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-2__image-figure {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.page-3 {
  height: 675px;
  width: 100%;
  color: #FFFFFF;
  background-image: url(/assets/background/bg-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-3__title {
  width: 100%;
  height: 75px;
  padding-top: 45px;
}

.page-3__title h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-align: center;
}

.page-3__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-3__text {
  width: 600px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.page-3__text h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
}

.page-3__image {
  width: 590px;
  height: 475px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-3__image-picture {
  width: 475px;
  height: 475px;
  background-image: url(/assets/img/page3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-3__image-figure {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.page-4 {
  height: 675px;
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page-4__text {
  width: 600px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.page-4__text h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

.page-4__text form {
  display: -ms-grid;
  display: grid;
}

.page-4__text .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 277px 277px;
      grid-template-columns: 277px 277px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 auto;
}

.page-4__text .form input {
  height: 60px;
  outline: none;
  background-color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-4__text .form select {
  height: 60px;
  outline: none;
  background-color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(51, 51, 51, 0.541);
}

.page-4__text .form input:focus {
  background-color: #fff;
  border: solid 2px #E5E5E5;
}

.page-4__text .form select:focus {
  background-color: #fff;
  border: solid 2px #E5E5E5;
}

.page-4__text button {
  margin: 10px auto;
  width: 564px;
  height: 60px;
  background-color: #E8C300;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 5px;
}

.page-4__text button:hover {
  font-size: 14px;
}

.page-4__image {
  width: 590px;
  height: 475px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-4__image-picture {
  width: 475px;
  height: 475px;
  background-image: url(/assets/img/page4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-4__image-figure {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.page-4__time {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(51, 51, 51, 0.5);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.page-4__time .bold {
  font-weight: bold;
}

.page-5 {
  height: 675px;
  width: 100%;
  color: #FFFFFF;
  background-image: url(/assets/background/bg-5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-5__title {
  width: 100%;
  height: 75px;
  padding-top: 45px;
}

.page-5__title h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-align: center;
}

.page-5__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-5__text {
  width: 600px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.page-5__text h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
}

.page-5__image {
  width: 590px;
  height: 475px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-5__image-picture {
  width: 475px;
  height: 475px;
  background-image: url(/assets/img/page5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-5__image-figure {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.page-6 {
  height: 920px;
  width: 100%;
}

.page-6__title {
  text-align: center;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */